@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menuMobile {
    @apply drop-shadow-2xl shadow-pink-600 w-5/6  absolute overflow-hidden top-[50px] right-[40px]  pb-5 rounded-br-full rounded-tl-full rounded-bl-full flex flex-col  justify-items-center border-2 bg-gradient-to-r from-pink-500 to-orange-500 md:hidden lg:hidden;
  }

  .menu {
    @apply hidden md:w-fit md:h-full md:my-auto md:flex-row md:flex md:rounded-none  md:bg-pink-200/0  md:justify-between md:top-0 md:pb-0;
  }

  .menuItem {
    @apply font-Poppins mx-auto md:h-full w-fit tracking-widest  py-5 px-5 text-center text-xl text-white font-semibold  hover:bg-pink-400 hover:rounded-xl
               transition-all duration-500 ease-linear
               cursor-pointer;
  }
}

.spacer {
  aspect-ratio: 800/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("../public/img/waves.svg");
  transform: rotate(180deg);
}
